<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Qawafel Automation Project" parallel="tests" thread-count="1" verbose="10">
    <listeners>
        <listener class-name="listeners.Listener" />
    </listeners>
    <parameter name="browser" value="" />

    <test name="Chrome Login Test">
        <parameter name="browser" value=""/>
        <classes>
            <class name="testcases.TC01_CustomCheckLogin"/>
        </classes>
    </test>
<!--   <suite-files>-->
<!--       <suite-file path="Regression.xml"/>-->
<!--   </suite-files>-->
</suite>